header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 2%;
    width: 100%;
    margin: 0px;
    color: aliceblue;
}


.flex {
    display: flex;
}

header .menu-desktop ul {
    list-style-type: none;
    
}

header .menu-desktop ul li {
    display: inline-block;
    padding: 40px 4%;
}



.formulario {
    background-color: bisque;
    padding: 90px 40px;
    justify-content: center;
    display: flex;
    justify-items: center;
   
}

.formulario input {
    margin-top: 10%;
    padding: 10px 2%;
    display: list-item;
    
}




