/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.interface {
    
    max-width: 1280px;
    margin: 0 auto;
}


body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.flex{
    display: flex;
}

h2.titulo{
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  padding: 20px 0px;
}

h2.titulo span{
    color: #00ff43;
}

/*-----------------ESTILO DO CABEÇALHO----------------*/
header{
    padding: 10px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(241, 241, 241);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #00ff43;
    transform: scale(1.15);
    transition: 0.2s;
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 45px;
    font-size: 18;
}

header .btn-contato button{
  padding: 10 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #06ff48;
  border: 0;
  cursor: pointer;
  }

header .btn-contato, button:hover{
    box-shadow: 0px 0px 8px #00ff43;
    border-radius: 30px;
}

/*-------------------FIM DA ESTILIZAÇÃO DO CABEÇALHO-------------------*/

/*----------------------ESTILO DO TOPO DO SITE------------------*/
section.topo-do-site{
    padding: 70px 4%;
    background-image: url(imagens/banner\ escuro.png);
}


section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    position: relative;
}


.topo-do-site h1{
    color: #00ff44;
    text-shadow: #00fd44c7 0px 0px 5px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: whitesmoke;
    margin: 30px 0px;
    font-size: 18px;
    
}

.btn-redesocial{
    padding: 40px 0px;
}

.btn-redesocial button{
    padding: 7 10px;
    border-radius: 30px;
    background-color: #00ff43;
    border: 0;
    cursor: pointer;
    width: 55px;
}

.btn-redesocial button:hover{
  color: #00ff43;
  transform: scale(1.10);
  transition: 0.2s;
}

.topo-do-site .img-topo-site button{
    padding: 0 0%;
    border-radius: 70px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.topo-do-site .img-topo-site button:hover{
    transform: scale(1.05);
    transition: .2s;
}


.topo-do-site .flex .setinhaverde {
    position: absolute; 
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%); 
}


.topo-do-site .flex .setinhaverde img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
} 

@keyframes flutuar{    /*animação da setinha verde*/
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*------------------FIM DO TOPO DO SITE-----------------------*/

/*----------------ESPECIALIDADES---------------*/
section.especialidades{
   padding: 60px 4%;
}

section.especialidades .flex{
    gap: 40px;
}

section.especialidades h4{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight:normal ;
}


.especialidades .especialidadebox{
  color: #ffffff;
  padding: 40px;
  margin: 25px;
  border-radius: 20px;
  margin-top: 45px;
  background-color: rgb(29, 29, 29);
  transition: .2s;
}

.especialidades .especialidadebox:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px #00ff43;
}

.especialidades .especialidadebox i{
    color: #00ff43;
    font-size: 62px;
}

section.especialidades h3{
    font-size: 28px;
    margin: 15px 0px;
}

section.especialidades p{
    color: #ffffff;
    font-size: 18px;
}

/*----------------FIM ESPECIALIDADES---------------*/


/*-----titulo do sobre mim----------*/
section.titulosobre{
    padding: 20px 3%;
    background-color:rgb(29, 29, 29)
}

section.titulosobre h3{
    font-size: 32px;
}

section.titulosobre p{
    color: white;
    text-align: center;
}

/*-----fim do titulo do sobre mim----------*/



/*-------------------------------------SOBRE MIM--------------------------------*/
section.sobre{
    padding: 40px 4%;
    background-color: rgb(29, 29, 29)
}

section.sobre .img-sobre{
    transition: .2s;
}

section.sobre .img-sobre:hover{
    transform: scale(1.02);
} 

.sobre .txt-sobre h3{
    color: #00ff43;
    font-size: 28px;
}

.sobre .txt-sobre h3 span{
    color: #ffffff;
}

.sobre .txt-sobre p{
    color: white;
    padding: 15px 0px;
}

.sobre .txt-sobre h4{
    color: white;
    font-weight: normal;
}

.sobre .txt-sobre h4 span{
    font-weight: lighter;
}

.sobre .txt-sobre ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}/*lista de informações*/

.sobre .txt-sobre ul li {
  width: calc(50% - 10px); 
  margin-bottom: 10px;
}

.sobre .txt-sobre ul li:nth-child(n+4) {
  text-align: left;
}

.sobre .txt-sobre ul li h4 {
  margin: 0;
}/*fim da lista de informações*/


.sobre .tecnologias-sobre {
    margin-top: 30px;
}

.sobre .tecnologias-sobre h4{
    
    font-weight: lighter;
    margin-bottom: 10px;
}

.sobre .tecnologias-sobre h4 span{
    font-weight: normal;
}

.sobre .tecnologias-sobre img:hover{
    transform: scale(1.05);
}

/*-------------------------------------FIM DO SOBRE MIM--------------------------------*/

/*-------------------------------------CONTATOS--------------------------------*/

section.contato{
    padding: 60px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

form input, form textarea{
    width: 100%;
    background-color: #202020;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00ff43;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

form .btn-enviar input:hover{
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #00ff43;
}
/*-------------------------------------FIM CONTATOS--------------------------------*/

/*-------------------------------------RODAPÉ--------------------------------*/

footer{
    padding: 40px 4%;
    background-color: #000000;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0px;
}

.borda{
    border-top: 2px solid #00ff43;
}

footer .line-footer p, i{
    color: #00ff43;
    font-size: 18px;
}

footer .line-footer p, a{
    color: #ffffff;
}


@media screen and (max-width: 1020px){
   /*CLASSES GERAIS*/
   .flex{
    flex-direction: column;
   }

   .topo-do-site .flex{
    flex-direction: column-reverse;
   } 
   
   
    /*CABEÇALHO*/
    .menu-desktop ul li:nth-child(1){
        display: none;
    }


    /*Topo*/
    section.topo-do-site h1{
        font-size: 42px;
        text-align: center;
    }

    section.topo-do-site p{
        font-size: 32px;
        text-align: center;
    }

    section.topo-do-site .btn-redesocial{
        text-align: center;
    }
    
    section.topo-do-site .btn-redesocial button{
        margin: 10px;
        width: 80px;
    }

    /*Especialidades*/
    .especialidades .especialidadebox{
        padding: 40px;
        margin: 20px;
    }

    section.especialidades h2{
        font-size: 42px;
    } 

    section.especialidades p{
        font-size: 22px;
    }

    section.especialidades h4{
        font-size: 18px;
    }

    /*sobre*/
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h3{
        font-size: 38px;
        margin-top: 30px;

    }
    
    .sobre .txt-sobre p{
        font-size: 18px;
    }

    .sobre .txt-sobre h4{
        font-size: 18px;
    }

    .img-sobre img{
        width: 100%;

    }

    hr{
      width: 84%;
    }


    /*titulo sobre mim*/
    section.titulosobre h2{
        font-size: 42px;
    }

    section.titulosobre p{
        font-size: 18px;
    }

    /*contato*/
    section.contato h2{
        font-size: 42px;
    }

    section.contato input{
       width: 100%;
    }



    /*rodape*/
    footer .flex{
        flex-direction: column;
    }
    
    footer .line-footer{
        text-align: center;
    }

    footer .line-footer p, i{
        font-size: 18px;
    }

    footer .line-footer img{
        width: 50%;
    }

    footer .btn-redesocial button{
        width: 100px;
        margin: 20px;
    }


}